@import 'var';

.loader {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;

   &__item {
      font-size: 0;
      color: transparent;
      border: 16px solid darken($white, $amount: 10);
      border-top: 16px solid lighten($white, $amount: 1);
      border-radius: 50%;
      width: 200px;
      height: 200px;
      animation: spin 0.3s linear infinite;
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
